@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&family=Orelega+One&display=swap');

* {
    margin: 0%;
    padding: 0;
    font-family: 'Nunito';
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #101010;
}

.header {
    width: 100vw;
    height: 100%;
    background: #101010;

}

.header .inner {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.header .logo {
    float: left;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 20px;
}

.header .logo div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.header nav {
    float: right;
    height: 100%;
}

.header nav li {
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}

.header nav span {
    display: table-cell;
    vertical-align: middle;
}

.header nav a {
    color: #ffffff;
}

.header nav .button {
    background-color: #dc143c;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 4px;

}

.header nav a:hover {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: solid 2px;
}


.header nav .button:hover {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.overfoto {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
}

.card1 .overfoto h1 {
    color: white;
    padding-top: 280px;
    padding-left: 200px;
}

.card2 .overfoto h3 {
    color: white;
    padding-top: 280px;
    padding-left: 15px;

}

.card3 .overfoto h3 {
    color: white;
    padding-top: 280px;
    padding-left: 15px;

}

.card4 .overfoto h3 {
    color: white;
    padding-top: 155px;
    padding-left: 20%;
}

.card5 .overfoto h3 {
    color: white;
    padding-top: 155px;
    padding-left: 20%;
}

.card6 .overfoto h3 {
    color: white;
    padding-top: 180px;
    padding-left: 20%;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #101010;
}

.card1 .foto {
    background-image: url(../assets/KANYE-WEST-MET-THUMB.webp);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1.2s;
}

.card2 .foto {
    background-image: url(../assets/Future-I-Never-Liked-You-2022.webp);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1.2s;
}

.card3 .foto {
    background-image: url(../assets/Screenshot_245.png);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1.2s;
}

.card4 .foto {
    background-image: url(../assets/drakenews.jpg);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1.2s;
}

.card5 .foto {
    background-image: url(../assets/dontolivernews.jpg);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1.2s;
}

.card6 .foto {
    background-image: url(../assets/YNWMelly.webp);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1.2s;
}


.container .foto:hover {
    transform: scale(1.01);
    filter: brightness(2);
}

.card1 {
    height: 60%;
    width: 60%;
    border: solid 2px rgb(0, 0, 0);
    cursor: pointer;
}

.card2 {
    cursor: pointer;
    height: 60%;
    width: 19%;
    border: solid 2px rgb(0, 0, 0);
}

.card3 {
    cursor: pointer;
    height: 60%;
    width: 20%;
    border: solid 2px rgb(0, 0, 0);
}

.card4 {
    cursor: pointer;
    height: 40%;
    width: 30%;
    border: solid 2px rgb(0, 0, 0);
}

.card5 {
    cursor: pointer;
    height: 40%;
    width: 29%;
    border: solid 2px rgb(0, 0, 0);
}

.card6 {
    cursor: pointer;
    height: 40%;
    width: 40%;
    border: solid 2px rgb(0, 0, 0);
}

.espaco {
    width: 100%;
    height: 12vh;
    display: flex;
}

.painel {
    background-color: #101010;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fileira_cards {

    width: 100%;
    height: 60vh;
    display: flex;
}

.not1 {
    height: 100%;
    width: 25%;
    cursor: pointer;
    border-right: #101010 solid 3px;
}

.not2 {
    height: 100%;
    width: 25%;
    cursor: pointer;
    border-right: #101010 solid 3px;
}

.not3 {
    height: 100%;
    width: 25%;
    cursor: pointer;
    border-right: #101010 solid 3px;
}

.not4 {
    height: 100%;
    width: 25%;
    cursor: pointer;
    border-right: #101010 solid 3px;
}

*::selection {
    background-color: #a9a9a9;
    color: black;
}

.not1 .foto {
    background-image: url(../assets/camisatime.jpg);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1.2s;
}

.not2 .foto {
    background-image: url(../assets/amoroulealdade.jpg);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1.2s;
}

.not3 .foto {
    background-image: url(../assets/justin.webp);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1.2s;
}

.not4 .foto {
    background-image: url(../assets/xxxkanye.jpg);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1.2s;
}

.not4 .foto:hover {
    transform: scale(1.01);
    filter: brightness(1.3);
}

.not3 .foto:hover {
    transform: scale(1.01);
    filter: brightness(1.3);
}

.not2 .foto:hover {
    transform: scale(1.01);
    filter: brightness(1.3);
}

.not1 .foto:hover {
    transform: scale(1.01);
    filter: brightness(1.3);
}

.over {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.over a h3 {
    color: white;
    padding-top: 280px;
    padding-left: 20%;
    padding-right: 1%;
}

.not4 .over a h3 {
    color: white;
    padding-top: 280px;
    padding-left: 15%;
    padding-right: 1%;
}

.not2 .over a h3 {
    color: white;
    padding-top: 300px;
    padding-left: 15%;
    padding-right: 1%;
}

.lancamentos {
    background-color: #101010;
    width: 100%;
    height: 100vh;
}

.lancamentos h1 {
    padding: 38px;
    color: #a9a9a9;
}

.faixalanca {
    background-color: #101010;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.faixalanca2 {
    margin-top: 25px;
    background-color: #101010;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.lanca1 {
    border-radius: 6px;
    background-image: url(../assets/jcole.jpg);
    height: 100%;
    width: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1.2s;
    filter: blur(1px);
}

.lanca2 {
    border-radius: 6px;
    background-image: url(../assets/play.jpg);
    height: 100%;
    width: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1.2s;
    filter: blur(1px);
}

.lanca3 {
    border-radius: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/Travis\ Scott\ Wallpapers.jpg);
    height: 100%;
    width: 30%;
    transition: all 1.2s;
    filter: blur(1px);
}

.lanca4 {
    border-radius: 6px;
    background-image: url(../assets/Kanye\ West\ Donda.jpg);
    height: 100%;
    width: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1.2s;
    filter: blur(1px);
}

.lanca5 {
    border-radius: 6px;
    background-image: url(../assets/tylerrrrrr.jpg);
    height: 100%;
    width: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1.2s;
    filter: blur(1px);
}

.lanca6 {
    border-radius: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/machado.jpg);
    height: 100%;
    width: 30%;
    transition: all 1.2s;
    filter: blur(1px);
}

.lanca1:hover {
    filter: blur(0px);
    border-radius: 0px;
}

.lanca2:hover {
    filter: blur(0px);
    border-radius: 0px;
}

.lanca3:hover {
    filter: blur(0px);
    border-radius: 0px;
}

.lanca5:hover {
    filter: blur(0px);
    border-radius: 0px;
}

.lanca4:hover {
    filter: blur(0px);
    border-radius: 0px;
}

.lanca6:hover {
    filter: blur(0px);
    border-radius: 0px;
}

.lancamentos i {
    margin-left: 36px;
    color: #999;
}